/**
* {{&summary}}
* @method
* @name {{&className}}#{{&methodName}}
{{#parameters}}
    {{^isSingleton}} * @param {{=<% %>=}}{<%&type%>}<%={{ }}=%> {{&camelCaseName}} - {{&description}}{{/isSingleton}}
{{/parameters}}
*/
{{&className}}.prototype.{{&methodName}} = function({{#parameters.length}}{{#parameters}} {{&camelCaseName}}{{^isLast}}, {{/isLast}}{{/parameters}}{{/parameters.length}}){
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} parameters = {};
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} deferred = {{#isNode}}Q{{/isNode}}{{^isNode}}$q{{/isNode}}.defer();
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} domain = this.domain,  path = '{{&path}}';
{{#isES6}}let{{/isES6}}{{^isES6}}var{{/isES6}} requestBody = {}, queryParameters = {}, headers = {}, form = {};

{{#isSecure}}
    headers = this.setAuthHeaders(headers);
{{/isSecure}}
{{#headers}}
    headers['{{&name}}'] = [{{&value}}];
{{/headers}}

{{#parameters}}
    {{#isQueryParameter}}
        {{#isSingleton}}
            queryParameters['{{&name}}'] = {{&singleton}};
        {{/isSingleton}}
        {{^isSingleton}}
            {{#isPatternType}}
                Object.keys(parameters).forEach(function(parameterName) {
                if(new RegExp('{{&pattern}}').test(parameterName)){
                queryParameters[parameterName] = parameters[parameterName];
                }
                });
            {{/isPatternType}}
            {{#default}}
                /** set default value **/
                queryParameters['{{&name}}'] = '{{&default}}';
            {{/default}}

            {{^isPatternType}}
                if({{&camelCaseName}} !== undefined){
                queryParameters['{{&name}}'] = {{&camelCaseName}};
                }
            {{/isPatternType}}
        {{/isSingleton}}
    {{/isQueryParameter}}

    {{#isPathParameter}}
        path = path.replace('{{=<% %>=}}{<%&name%>}<%={{ }}=%>', {{&camelCaseName}} !== null && {{&camelCaseName}} !== undefined ? {{&camelCaseName}} : '');
    {{/isPathParameter}}

    {{#isHeaderParameter}}
        {{#isSingleton}}
            headers['{{&name}}'] = '{{&singleton}}';
        {{/isSingleton}}
        {{^isSingleton}}
            if({{&camelCaseName}} !== undefined){
            headers['{{&name}}'] = parameters['{{&camelCaseName}}'];
            }
        {{/isSingleton}}
    {{/isHeaderParameter}}

    {{#isBodyParameter}}
        if({{&camelCaseName}} !== undefined){
        requestBody = {{&camelCaseName}};
        }
    {{/isBodyParameter}}

    {{#isFormParameter}}
        {{#isSingleton}}
            form['{{&name}}'] = '{{&singleton}}';
        {{/isSingleton}}
        {{^isSingleton}}
            if({{&camelCaseName}} !== undefined){
            form['{{&name}}'] = {{&camelCaseName}};
            }
        {{/isSingleton}}
    {{/isFormParameter}}

    {{#required}}
        if({{&camelCaseName}} === undefined){
        deferred.reject(new Error('Missing required {{&paramType}} parameter: {{&camelCaseName}}'));
        return deferred.promise;
        }
    {{/required}}

{{/parameters}}
queryParameters = mergeQueryParams(parameters, queryParameters);

this.request('{{method}}', domain + path, parameters, requestBody, headers, queryParameters, form, deferred);

return deferred.promise;
};
